@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@font-face {
  font-family: 'Actor', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
  font-style: normal; }

@font-face {
  font-family: 'Acme', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
  font-style: normal; }

@font-face {
  font-family: 'Aclonica', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
  font-style: normal; }

header {
  width: 100%;
  background: #090979;
  background: -moz-linear-gradient(101deg, #090979 0%, #00e0ff 0%, #22bf56 100%);
  background: -webkit-linear-gradient(101deg, #090979 0%, #00e0ff 0%, #22bf56 100%);
  background: linear-gradient(101deg, #090979 0%, #00e0ff 0%, #22bf56 100%); }

.nav {
  transition: .5s all ease;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  top: 0;
  left: 0; }
  .nav-logo {
    font-weight: 600;
    font-size: 22px;
    display: flex; }
  .nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    position: absolute;
    top: 63px;
    left: -100%;
    transition: .7s all ease;
    background-color: #fff;
    z-index: 9999; }
  .nav-item {
    display: flex;
    align-items: center;
    list-style: none; }
  .nav-link {
    display: flex;
    position: relative;
    z-index: 999999;
    width: 100%;
    font-family: 'Acme', sans-serif;
    text-decoration: none;
    color: #22BF95;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 2px;
    justify-content: center; }
    .nav-link:hover {
      color: #7F7F7F; }
    .nav-link:hover::after, .nav-link:focus::after {
      content: '';
      display: flex;
      height: 2px;
      width: 40px;
      background-color: #7F7F7F;
      position: absolute;
      bottom: -7px;
      border-radius: 3px;
      transition: .4s all ease; }

.visible-list {
  left: 0;
  transition: .7s all ease;
  height: 100vh; }

.logo-content {
  color: white;
  font-family: 'Actor',sans-serif;
  text-decoration: none; }

.nav-controls {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .nav-controls-button {
    font-family: 'Acme';
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #22BF95;
    border-radius: 20px;
    text-decoration: none;
    color: #22BF95;
    padding: 8px 0;
    width: 90px;
    font-weight: 100; }
    .nav-controls-button:hover {
      color: #7F7F7F;
      border-color: #7F7F7F; }
    .nav-controls-button:first-child {
      width: 180px;
      margin-bottom: 16px; }

.nav-menu-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  transform: rotate(0deg); }
  .nav-menu-active:hover {
    cursor: pointer; }

.nav-menu-line {
  height: 2px;
  background-color: #fff;
  width: 100%;
  transform: rotate(0deg);
  transition: .7s all ease;
  position: relative; }

.header-title {
  color: white;
  font-family: Actor;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  display: flex;
  justify-content: center; }
  .header-title-content {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 142px;
    margin: 30px 0;
    font-size: 40px; }

.tabs-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
  z-index: 0;
  height: 40px; }
  .tabs-nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 300px;
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 12px 24px 0px #F2F2F2;
    background-color: white;
    height: 100%;
    border-top: 3px solid #22BF95; }
  .tabs-nav .tab-item {
    font-family: 'Acme';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    color: #7F7F7F;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%; }
    .tabs-nav .tab-item:not(:last-child) {
      border-right: 2px solid #E5E5E5; }
    .tabs-nav .tab-item:hover {
      color: #22BF95; }

.nav.fixed-block {
  position: fixed;
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  z-index: 99999;
  background-color: #fff;
  box-shadow: 0px 12px 24px #E5E5E5;
  transition: .5s all ease; }
  .nav.fixed-block * {
    color: #7F7F7F; }
  .nav.fixed-block *:not(.nav-logo):hover {
    color: #22BF95; }
  .nav.fixed-block .nav-controls > * {
    border: 2px solid #7F7F7F;
    border-radius: 20px; }
  .nav.fixed-block .nav-controls > *:hover {
    border: 2px solid #22BF95; }

.nav.fixed-block > .nav-menu-active > * {
  background-color: #7F7F7F; }

.fixed-tabs {
  position: fixed;
  top: 63px;
  width: 100%;
  left: 0;
  padding: 0 12px; }

.nav-menu-active.open .nav-menu-line:first-child {
  transform: rotate(45deg);
  transition: .7s all ease;
  position: relative;
  top: 8px; }

.nav-menu-active.open .nav-menu-line:last-child {
  transform: rotate(-45deg);
  transition: .7s all ease;
  top: -8px;
  position: relative; }

.nav-menu-active.open .nav-menu-line:nth-child(2) {
  opacity: 0;
  transition: .7s all ease; }

.tips {
  width: 100%;
  border-top: 2px solid #B2B2B2;
  margin-top: 54px;
  padding-top: 10px; }
  .tips-title {
    width: 90px;
    height: 18px;
    background-image: url("../images/skout-tips.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 24px; }
  .tips-list {
    padding-bottom: 24px; }
  .tips-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #22BF95;
    border-bottom: 1px solid #22BF95;
    padding: 3px 10px; }
    .tips-item-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .tips-item-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 1s all ease;
      display: flex;
      overflow: hidden;
      max-height: 0px; }
      .tips-item-content .tip-img {
        margin: 21px;
        width: 120px;
        height: 120px;
        background-image: url("../images/Tip1.png"); }
      .tips-item-content .tip-text {
        font-family: 'Aclonica';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #191919; }
    .tips-item-number {
      font-family: 'Actor';
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #E5E5E5; }
    .tips-item-title {
      font-family: 'Aclonica';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #191919; }
    .tips-item-btn {
      width: 14px;
      height: 14px;
      border: 2px solid #22BF95;
      border-radius: 50%;
      box-shadow: 0px 3px 6px rgba(127, 127, 127, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer; }
      .tips-item-btn .btn-line {
        height: 1.6px;
        width: 80%;
        background-color: #22BF95;
        position: absolute;
        border-radius: 20px; }
        .tips-item-btn .btn-line:first-child {
          transform: rotate(90deg);
          transition: .7s all ease; }
        .tips-item-btn .btn-line.is-rotate:first-child {
          transform: rotate(0deg);
          transition: .7s all ease; }

.open-tip {
  display: flex;
  transition: 1s all ease;
  max-height: 1500px;
  padding-bottom: 94px; }

.no-displayed {
  display: none; }

.glossary-title {
  width: 100%;
  margin-bottom: 24px;
  padding-top: 12px;
  border-top: 2px solid #B2B2B2;
  box-sizing: border-box; }
  .glossary-title img {
    width: 114px;
    height: 18px; }

.slider {
  display: flex;
  flex-direction: column; }

.slider-block {
  background-image: url("../images/slider-img-1.jpg");
  background-size: cover;
  padding-bottom: 24px;
  height: 720px; }
  .slider-block .slider-controller {
    background-color: #fff;
    box-shadow: 0px 12px 24px #E5E5E5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    max-width: 442px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 40px 60px 40px 62px; }
    .slider-block .slider-controller .arrow-right {
      background-image: url("../images/arrowRight.png");
      width: 16px;
      height: 16px;
      background-size: 100%;
      background-position: center;
      position: absolute;
      right: 20px;
      top: 20px;
      transition: .4s; }
      .slider-block .slider-controller .arrow-right:hover {
        cursor: pointer;
        opacity: .5;
        transition: .4s; }
    .slider-block .slider-controller .arrow-left {
      background-image: url("../images/arrowRight.png");
      transform: rotate(180deg);
      width: 16px;
      height: 16px;
      background-size: 100%;
      position: absolute;
      right: 20px;
      top: 50px;
      transition: .4s; }
      .slider-block .slider-controller .arrow-left:hover {
        cursor: pointer;
        opacity: .5;
        transition: .4s; }
    .slider-block .slider-controller .slider-list {
      display: flex;
      flex-direction: column; }
      .slider-block .slider-controller .slider-list-item {
        list-style: none;
        font-family: 'Aclonica';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: #7F7F7F;
        display: flex;
        align-items: center;
        position: relative;
        transition: .7s; }
  .slider-block .slide-content {
    margin-top: 32px; }
    .slider-block .slide-content .slide-title {
      font-family: 'Actor';
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 1.5px;
      color: #1A1A1A; }
    .slider-block .slide-content .slide-text {
      font-family: 'Aclonica';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #191919;
      position: relative;
      padding-left: 16px;
      margin-top: 24px; }
      .slider-block .slide-content .slide-text::before {
        content: '';
        height: 48px;
        width: 2px;
        background-color: #22BF95;
        position: absolute;
        left: 0px; }

.current-slide-item {
  transition: .7s; }
  .current-slide-item::before {
    content: '';
    display: flex;
    height: 2px;
    width: 46px;
    background-color: #22BF95;
    position: absolute;
    left: -52px;
    transition: .7s; }

.faqs {
  margin-top: 24px;
  padding-top: 12px;
  border-top: 2px solid #B2B2B2; }
  .faqs-title {
    background-image: url("../images/skout-faqs.svg");
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px; }
  .faqs-list {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .faqs-list-item {
      list-style: none;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%; }
    .faqs-list .answer {
      transition: 1s all ease;
      display: flex;
      align-items: center;
      overflow: hidden;
      max-height: 0px; }
      .faqs-list .answer-marker {
        font-family: 'Actor';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #E5E5E5;
        margin-right: 35px; }
      .faqs-list .answer-text {
        font-family: Aclonica;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #191919; }
  .faqs-item {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .faqs-item-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0; }
      .faqs-item-title .question-marker {
        font-family: 'Actor';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #E5E5E5;
        margin-right: 35px; }
      .faqs-item-title .get-answer-btn {
        background-image: url("../images/faq-arrow-small.png");
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 80px;
        height: 8px;
        width: 16px;
        transition: .7s; }

.open-answer {
  display: flex;
  transition: 1s all ease;
  max-height: 1500px !important; }

.question {
  font-family: Aclonica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #191919;
  display: flex;
  width: 100%; }

.more-btn {
  font-family: Acme;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #22BF95;
  text-decoration: none;
  margin: 20px 0px 24px 0px; }
  .more-btn:hover {
    color: #B2B2B2; }

.answer-icon-rotate {
  transform: rotate(180deg);
  transition: .7s; }

.greent-text {
  color: #22BF95; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  scroll-behavior: smooth; }

.wrapp {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px; }

.no-scroll {
  overflow: hidden; }

@media screen and (min-width: 992px) {
  .nav-menu-active {
    display: none; }
  .nav-list {
    position: static;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0); }
  .nav-link {
    color: white; }
    .nav-link:hover {
      color: white; }
      .nav-link:hover::after {
        background-color: #fff; }
  .nav-controls {
    flex-direction: row; }
    .nav-controls-button {
      color: white;
      border-color: white; }
      .nav-controls-button:first-child {
        margin: 0 20px 0 0; }
  .tabs-nav {
    height: 80px;
    top: 50px;
    z-index: 999; }
  .tab-item {
    height: 40px; }
  .skout-tips {
    margin-top: 138px; }
  .tips-item-number {
    font-size: 110px;
    line-height: 130px; }
  .tips-item-title {
    font-size: 24px;
    line-height: 36px; }
  .tips-item-header {
    align-items: center; }
  .tips-item-content {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%; }
    .tips-item-content .tip-img {
      width: 270px;
      height: 270px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../images/tip1Big.png");
      align-self: flex-end; }
    .tips-item-content .tip-text {
      width: 464px;
      height: 336px; }
  .tips-item-btn {
    width: 35px;
    height: 35px; }
  .tips-title {
    width: 248px;
    height: 40px; }
  .slider {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%; }
  .slider-block {
    padding: 60px 0; }
    .slider-block .wrapp {
      width: 100%;
      margin: 0;
      padding: 0; }
  .slider-controller {
    height: 100%;
    margin-right: 130px; }
    .slider-controller .arrow-right,
    .slider-controller .arrow-left {
      width: 25px;
      height: 25px; }
  .slide-title {
    font-size: 90px !important;
    line-height: 120px !important;
    text-transform: uppercase;
    position: relative;
    left: -70px; }
  .slide-content {
    font-size: 24px !important;
    line-height: 36px !important;
    z-index: 0;
    position: absolute;
    left: 50%;
    max-width: 450px; }
  .slide-text {
    max-width: 335px; }
  .faqs-list-item {
    justify-content: space-between; }
  .faqs-item-title::before, .faqs-item-title::after {
    margin-right: 100px; }
  .question {
    font-size: 24px;
    line-height: 36px; }
  .get-answer-btn {
    background-image: url("../images/faq-arrow-big.png") !important;
    margin-right: 80px;
    height: 15px !important;
    width: 30px !important; }
  .answer {
    padding-right: 20%; }
  .answer-marker,
  .question-marker {
    font-size: 110px !important;
    line-height: 130px !important; } }

/*# sourceMappingURL=main.css.map */
