@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');



@font-face {
    font-family: 'Actor', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
    font-style: normal;
}

@font-face {
    font-family: 'Acme', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
    font-style: normal;
}

@font-face {
    font-family: 'Aclonica', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
    font-style: normal;
}