header{
    width: 100%;
    
    background: rgb(9,9,121);
    background: -moz-linear-gradient(101deg, rgba(9,9,121,1) 0%, rgba(0,224,255,1) 0%, rgba(34,191,86,1) 100%);
    background: -webkit-linear-gradient(101deg, rgba(9,9,121,1) 0%, rgba(0,224,255,1) 0%, rgba(34,191,86,1) 100%);
    background: linear-gradient(101deg, rgba(9,9,121,1) 0%, rgba(0,224,255,1) 0%, rgba(34,191,86,1) 100%);

}

.nav {
    transition: .5s all ease;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    top: 0;
    left: 0;

    &-logo {
        font-weight: 600;
        font-size: 22px;
        display: flex;
    }

    &-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        position: absolute;
        top: 63px;
        left: -100%;
        transition: .7s all ease;
        background-color: #fff;
        z-index: 9999;
    }

    &-item {
        display: flex;
        align-items: center;
        list-style: none;
    }
    &-link {
        display: flex;
        position: relative;
        z-index: 999999;
        width: 100%;
        font-family: 'Acme', sans-serif;
        text-decoration: none;
        color: #22BF95;

        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 2px;
        justify-content: center;


        &:hover::after,
        &:focus::after{
            content: '';
            display: flex;
            height: 2px;
            width: 40px;
            background-color: white;
            position: absolute;
            bottom: -7px;
            border-radius: 3px;
            transition: .4s all ease;
        }

        
    }
    
}

.visible-list{
    left: 0;
    transition: .7s all ease;
    height: 100vh;
}



.logo-content {
    color: white;
    font-family: 'Actor',sans-serif;
    text-decoration: none;
    
}

.nav-controls {
    display: flex;
    flex-direction: column;
    align-items: center;


    &-button {
        font-family: 'Acme';
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #22BF95;
        
        border-radius: 20px;
        text-decoration: none;
        color: #22BF95;
        ;
        padding: 8px 0;
        width: 90px;
        font-weight: 100;
        &:first-child{
            width: 180px;
            margin-bottom: 16px;
        }
    }
    
}



.nav-menu-active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 24px;
    height: 18px;
    
    transform: rotate(0deg);

    &:hover{
        cursor: pointer;
    }
}
.nav-menu-line {
    height: 2px;
    background-color: #fff;
    width: 100%;
    transform: rotate(0deg);
    transition: .7s all ease;
    position: relative;
}
.nav-menu-line:first-child,
.nav-menu-line:last-child{
}

.header-title{
    color: white;
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;

    

    &-content{
        display: flex;
        justify-content: center;
        text-align: center;
        min-width: 142px;
        margin: 30px 0;
        font-size: 40px;
    }
}


.tabs-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    z-index: 0;
    height: 40px;
    &-list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        min-width: 300px;
        max-width: 770px;
        width: 100%;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0px 12px 24px 0px #F2F2F2;
        background-color: white;
        height: 100%;
        border-top: 3px solid #22BF95;
    }
    .tab-item{
        font-family: 'Acme';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        color: #7F7F7F;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 100%;
        
        
        &:not(:last-child){
            border-right: 2px solid #E5E5E5;

        }

        &:hover{
            color: #22BF95;
        }
    }
}

.nav.fixed-block{
    position: fixed;
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    z-index: 99999;
    background-color: #fff;
    box-shadow: 0px 12px 24px #E5E5E5;
    transition: .5s all ease;
    *{
        color: #7F7F7F;
    }

    *:not(.nav-logo):hover{
        color: #22BF95;
    }
    .nav-controls > *{
        border:2px solid #7F7F7F;
        border-radius: 20px;
    }
    .nav-controls > *:hover{
        border:2px solid #22BF95;
    }

}
.nav.fixed-block > .nav-menu-active > *{
    background-color: #7F7F7F;
}

.fixed-tabs{
    position: fixed;
    top: 63px;
    width: 100%;
    left: 0;
    padding: 0 12px;
}

.nav-menu-active.open{
    .nav-menu-line:first-child{
        transform: rotate(45deg);
        transition: .7s all ease;
        position: relative;
        top: 8px;
    }
    .nav-menu-line:last-child{
        transform: rotate(-45deg);
        transition: .7s all ease;
        top: -8px;
        position: relative;
    }
    .nav-menu-line:nth-child(2){
        opacity: 0;
        transition: .7s all ease;
    }
}


