@import  
        './_fonts' ,
        './_variables',
        './header.scss',
        './tipsSection.scss',
        './sliderSection.scss',
        './faqs.scss',
        './footer.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.wrapp{
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}

.no-scroll{
    overflow: hidden;
}

@media screen and (max-width: 1150px) {
    .slide-title{
        font-size: 60px !important;
        line-height: 90px !important;
    }
}

@media screen and (min-width: 992px){
    .header-title{
        padding: 180px 0;
    }
    .header-title-content{
        font-size: 110px;
        line-height: 130px;
    }
    .nav{
        padding-top: 28px;
    }
    .nav-menu-active{
        display: none;
    }

    .nav-list{
        position: static;
        flex-direction: row;
        background-color: rgba(0,0,0,0);
        
    }
    .nav-link{
        color: white;

        &:hover{
            color: white;
            &::after{
                background-color: #fff;
            }
        }

        
    }

    .nav-controls{
        flex-direction: row;
        &-button{
            color: white;
            border-color: white;

            &:first-child{
                margin: 0 20px 0 0;
            }
        }
    }
    .tabs-nav{
        height: 80px;
        top: 50px;
        z-index: 999;
    }
    .tab-item{
        height: 40px;
    }

    .skout-tips{
        margin-top: 138px;
    }

    .tips{
        margin-bottom: 160px;
    }
    .tips-item{
        
        &-number{
            font-size: 110px;
            line-height: 130px;
        }

        &-title{
            font-size: 24px;
            line-height: 36px;
            
        }

        &-header{
            align-items: center;
        }

        &-content{
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;

            .tip-img{
                width: 270px;
                height: 270px;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('../images/tip1Big.png');
                align-self: flex-end;
            }

            .tip-text{
                width: 464px;
                height: 336px;
            }
        }

        &-btn{
            width: 35px;
            height: 35px;
        }
    }

    .tips-title{
        width: 248px;
        height: 40px;
        margin-bottom: 100px;
    }
    .glossary-title{
        height: 40px;
        img{
            height: 100%;
            width: 240px;
        }
    }
    .faqs{
        margin-top: 160px;
    }
    .faqs-title{
        height: 40px;
        background-size: contain;
        width: 240px;
    }

    .slider{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-height: 540px;
        padding-bottom: 24px;
    }
    .slider-block{
        padding: 60px 0;
        .wrapp{
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }

    .slider-controller{
        margin-right: 130px;
        left: -12px;
        height: 570px;
        .arrow-right,
        .arrow-left{
            width: 25px;
            height: 25px;
        }
        
    }
    .slide-title{
        font-size: 90px !important;
        line-height: 120px !important;
        text-transform: uppercase;
        position: relative;
        left: -70px;
    }
    .slide-content{
        font-size: 24px !important;
        line-height: 36px !important;
        z-index: 0;
        position: absolute;
        left: 50%;
        max-width: 450px;
    }
    .slide-text{
        max-width: 335px;
    }
    
    .faqs-list-item{
        justify-content: space-between;
    }
    .faqs-item-title{

        &::before,
        &::after{
            margin-right: 100px;
        }

    }
    .question{
        font-size: 24px;
        line-height: 36px;
    }
    .get-answer-btn{
        background-image: url('../images/faq-arrow-big.png') !important;
        margin-right: 80px;
        height: 15px !important;
        width: 30px !important;
    }
    .answer{
        padding-right: 20%;
    }
    .answer-marker,
    .question-marker{
        font-size: 110px !important;
        line-height: 130px !important;
    }
    .footer-info{
        flex-direction: row;
        justify-content: space-between;
        padding: 51px 0;
        .footer-links{
            height: 100% !important;
        }
        .company-adrress{
            width: 100%;
            margin-left: 70px;
            .footer-links{
                flex-direction: row;
                justify-content: space-between;
                height: 123px;
                .number{
                    display: flex;
                    justify-content: flex-end;
                    font-size: 16px;
                }
                .adrress{
                    display: flex;
                    text-align: left;
                    margin-left: 30px;
                    font-size: 16px;
                }
                .view-on-map{
                    display: flex;
                    justify-content: flex-end;
                    font-size: 16px;
                }
            }
            .footer-links > *{
                padding-top: 16px;
                width: 100%;
            }

        }
    }
    .company-adrress{
        flex-direction: row;
    }


    .social-links-block{
        flex-direction: row !important;

        .links{
            justify-content: flex-start !important;
            *{
                margin-right: 52px;
            }
        }
    }

}