header {
  width: 100%;
  height: auto;
  background: rgb(9, 9, 121);
  background: linear-gradient(
    101deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 224, 255, 1) 0%,
    rgba(34, 191, 86, 1) 100%
  );
}

.nav {
  transition: 0.5s ease;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  top: 0;
  left: 0;

  &-logo {
    font-weight: 600;
    font-size: 22px;
    display: flex;
  }

  &-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    position: absolute;
    top: 63px;
    left: -100%;
    transition: 0.7s all ease;
    background-color: #fff;
    z-index: 9999;

    li {
      display: flex;
      align-items: center;
      list-style: none;

      a {
        text-transform: uppercase;
        display: flex;
        position: relative;
        z-index: 999999;
        width: 100%;
        font-family: "Acme", sans-serif;
        text-decoration: none;
        color: #22bf95;
        font-size: 12px;
        letter-spacing: 2px;
        justify-content: center;

        &:hover {
          color: #7f7f7f;
        }
        &:hover::after,
        &:focus::after {
          content: "";
          display: flex;
          height: 2px;
          width: 40px;
          background-color: #7f7f7f;
          position: absolute;
          bottom: -7px;
          border-radius: 3px;
          transition: 0.4s background-color ease;
        }
      }
    }
  }
}

.visible-list {
  left: 0;
  transition: 0.7s all ease;
  height: 100vh;
}

.logo-content {
  color: white;
  font-family: "Actor", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-controls {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-button {
    font-family: "Acme", "san-serif";
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #22bf95;

    border-radius: 20px;
    text-decoration: none;
    color: #22bf95;

    padding: 8px 0;
    width: 90px;
    font-weight: 100;
    &:hover {
      color: #7f7f7f;
      border-color: #7f7f7f;
    }
    &:first-child {
      width: 180px;
      margin-bottom: 16px;
      text-transform: uppercase;
    }
  }
}

.nav-menu-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 24px;
  height: 18px;

  transform: rotate(0deg);
  div {
    height: 2px;
    background-color: #fff;
    width: 100%;
    transform: rotate(0deg);
    transition: 0.7s all ease;
    position: relative;
  }

  &:hover {
    cursor: pointer;
  }
}

.header-title {
  color: white;
  font-family: "Actor", sans-serif;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  text-transform: uppercase;

  &-content {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 142px;
    margin: 30px 0;
    font-size: 40px;
  }
}

.tabs-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
  z-index: 999;
  height: 40px;
  &-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 300px;
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 12px 24px 0 #f2f2f2;
    background-color: white;
    height: 100%;
    border-top: 3px solid #22bf95;
  }
  .tab-item {
    font-family: "Acme", "san-serif";
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    color: #7f7f7f;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;

    &:not(:last-child) {
      border-right: 2px solid #e5e5e5;
    }

    &:hover {
      color: #22bf95;
    }
  }
}

.nav.fixed-block {
  position: fixed;
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  z-index: 99999;
  background-color: #fff;
  box-shadow: 0 12px 24px #e5e5e5;
  transition: 0.5s all;
  display: flex;
  justify-content: space-between;
  * {
    color: #7f7f7f;
  }

  *:not(.nav-logo):hover {
    color: #22bf95;
  }
  .nav-controls > * {
    border: 2px solid #7f7f7f;
    border-radius: 20px;
  }
  .nav-controls > *:hover {
    border: 2px solid #22bf95;
  }
}
.nav.fixed-block > .nav-menu-active > * {
  background-color: #7f7f7f;
}

.fixed-tabs {
  position: fixed;
  top: 63px;
  width: 100%;
  left: 0;
  padding: 0 12px;
}

.nav-menu-active.open {
  div:first-child {
    transform: rotate(45deg);
    transition: 0.7s transform ease;
    position: relative;
    top: 8px;
  }
  div:last-child {
    transform: rotate(-45deg);
    transition: 0.7s transform ease;
    top: -8px;
    position: relative;
  }
  div:nth-child(2) {
    opacity: 0;
    transition: 0.7s opacity ease;
  }
}

@media screen and (min-width: 992px) {
  .header-title {
    padding: 180px 0;
  }
  .header-title-content {
    font-size: 110px;
    line-height: 130px;
  }
  .nav {
    padding-top: 28px;
  }
  .nav-menu-active {
    display: none;
  }
  .nav.fixed-block {
    .nav-list {
      width: 90%;
      transition: .7s all ease;
    }
  }
  .nav-list {
    position: static;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    transition: .7s all ease;
    li {
      a {
        color: white;

        &:hover {
          color: white;
          &::after {
            background-color: #fff;
          }
        }
      }
    }
  }
  .nav-controls {
    flex-direction: row;
    &-button {
      color: white;
      border-color: white;

      &:first-child {
        margin: 0 20px 0 0;
      }
    }
  }
  .tabs-nav {
    height: 80px;
    top: 50px;
    z-index: 999;
  }
  .tab-item {
    height: 40px;
  }
}
