//colors
$color-primary: #22bf95;
$color-secondary: #e5e5e5;
$color-white: #fff;
$color-text-secondary: #7f7f7f;
$color-text-primary: #191919;

//block sizes
$header-height: 60px;

//Fonts sizes

$font-small: 12px;
$font-medium: 16px;
$font-large: 24px;

//devise sizes
$desktop-size: 1024px;
