.feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 54px 20px;
  @include desktop-size {
    flex-direction: column;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1440px;
    @include desktop-size {
      flex-direction: row;
      justify-content: space-between;
      column-gap: 30px;
    }
  }

  &-img {
    position: relative;
    left: -20px;
    width: 100%;
    max-width: 500px;
    height: 200px;
    max-height: 100%;
    background-image: url('../images/pre-footer-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    order: 1;
    @include desktop-size {
      height: 550px;
      max-width: 705px;
      order: 0;
    }
  }

  &-description {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 470px;
    margin-bottom: 20px;
    order: 0;
    h3 {
      @include section-title;
      margin-bottom: 20px;
    }
    p {
      @include section-sub-text;
    }
    @include desktop-size {
      order: 1;
    }
  }

  &-interactivity {
    @include gradient-background;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    filter: drop-shadow(0px 12px 24px #e5e5e5);
    border-radius: 5px;
    transform: translateY(-60px);
    @include desktop-size {
      flex-direction: row;
      justify-content: space-around;
      margin: 0 80px;
    }
  }

  div {
    color: $color-white;

    .get-feedback {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0;
      @include desktop-size {
        padding: 40px 30px;
      }
    }

    h5 {
      padding-bottom: 8px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      font-family: 'Acme', sans-serif;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $color-white;
    }
    span {
      font-family: 'Aclonica', sans-serif;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $color-white;
      @include desktop-size {
        margin-right: 100px;
      }
    }

    button {
      width: 35px;
      height: 35px;
      border-color: transparent;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1) inset;
      background-color: transparent;
      background-image: url('../images/arrowButton.svg');
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: 0.6s transform ease;
      transform: scale(1);
      &:hover {
        transition: 0.6s transform ease;
        transform: scale(1.2);
      }
    }
  }
}
