@import './_variables';

.footer {
  background: #f2f2f2;
  padding-bottom: 50px;

  &-info {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $mainGray;

    .company-adrress {
      display: flex;
      flex-direction: column;
      .footer-links {
        border-top: 2px solid $mainGreen;
        padding-bottom: 20px;
      }
    }
  }

  .social-links-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 992px) {
      flex-direction: row;
    }
    .links {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin-top: 22px;
      @media screen and (min-width: 992px) {
        justify-content: flex-start;
        a{
          margin-right: 52px;
        }
      }
      * {
        color: $mainGray;
        font-size: 25px;
        &:hover {
          color: $mainGreen;
        }
      }
    }

    .logo {
      max-width: 169px;
      max-height: 66px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  &-links {
    padding-top: 12px;
    display: flex;
    flex-direction: column;

    .call-number {
      span {
        font-family: "Acme", "sans-serif";
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 2px;
        color: $mainGray;
      }
      a {
        font-family: "Aclonica", "sans-serif";
        font-size: 16px;
        line-height: 24px;
        display: flex;
        color: $mainGray;
      }
    }
  }
  a {
    text-decoration: none;
    font-family: "Acme", "sans-serif";
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: $mainGray;
    margin: 12px 0;
    text-transform: uppercase;

    &:hover {
      color: $mainGreen;
    }
  }

  &-info-title {
    font-family: "Aclonica", "sans-serif";
    font-size: 16px;
    line-height: 36px;
    color: $mainGray;
  }
  .number {
    font-family: "Aclonica", "sans-serif";
    font-size: 16px;
    line-height: 24px;
    color: $mainGray;
  }
  .adrress {
    font-family: "Aclonica", "sans-serif";
    font-size: 12px;
    line-height: 24px;
    color: $mainGray;
  }
  .view-on-map {
    font-family: "Aclonica", "sans-serif";
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: underline;
    color: $mainGreen;
    &:hover {
      color: $mainGray;
    }
  }
}

@media screen and (min-width: 992px) {
  .footer-info {
    flex-direction: row;
    justify-content: space-between;
    padding: 51px 0;
    .footer-links {
      height: 100%;
    }
    .company-adrress {
      width: 100%;
      margin-left: 70px;
      .footer-links {
        flex-direction: row;
        justify-content: space-between;
        height: 123px;
        .number {
          display: flex;
          justify-content: flex-end;
          font-size: 16px;
        }
        .adrress {
          display: flex;
          text-align: left;
          margin-left: 30px;
          font-size: 16px;
        }
        .view-on-map {
          display: flex;
          justify-content: flex-end;
          font-size: 16px;
        }
      }
      .footer-links >* {
        padding-top: 16px;
        width: 100%;
      }
    }
  }
  .company-adrress {
    flex-direction: row;
  }
}
