.footer {
  padding-bottom: 50px;
  background: #f2f2f2;

  &-info {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $color-text-secondary;

    .company-adrress {
      display: flex;
      flex-direction: column;
      .footer-links {
        border-top: 2px solid $color-primary;
        padding-bottom: 20px;
      }
    }
  }

  .social-links-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop-size {
      flex-direction: row;
    }
    .links {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      @include desktop-size {
        justify-content: flex-start;
        a {
          margin-right: 50px;
        }
      }
      * {
        color: $color-text-secondary;
        $font-large;
        &:hover {
          color: $color-primary;
        }
      }
    }

    .logo {
      min-width: 200px;
      min-height: 100px;
      background-image: url('../images/output-onlinepngtools\ \(7\).png');
      background-size: cover;
      background-position: center;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;
    .call-number {
      span {
        font-family: 'Acme', 'sans-serif';
        $font-small;
        line-height: 20px;
        letter-spacing: 2px;
        color: $color-text-secondary;
      }
      a {
        display: flex;
        font-family: 'Aclonica', 'sans-serif';
        $font-medium;
        line-height: 24px;
        color: $color-text-secondary;
      }
    }
  }
  a {
    margin: 12px 0;
    text-decoration: none;
    font-family: 'Acme', 'sans-serif';
    $font-small;
    line-height: 20px;
    letter-spacing: 2px;
    color: $color-text-secondary;
    text-transform: uppercase;

    &:hover {
      color: $color-primary;
    }
  }

  &-info-title {
    font-family: 'Aclonica', 'sans-serif';
    $font-medium;
    line-height: 36px;
    color: $color-text-secondary;
  }
  .number {
    font-family: 'Aclonica', 'sans-serif';
    $font-medium;
    line-height: 24px;
    color: $color-text-secondary;
  }
  .adrress {
    font-family: 'Aclonica', 'sans-serif';
    $font-small;
    line-height: 24px;
    color: $color-text-secondary;
    font-style: normal;
  }
  .view-on-map {
    font-family: 'Aclonica', 'sans-serif';
    $font-small;
    line-height: 20px;
    text-decoration-line: underline;
    color: $color-primary;
    &:hover {
      color: $color-text-secondary;
    }
  }
}

@include desktop-size {
  .footer-info {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
    .company-adrress {
      width: 100%;
      margin-left: 70px;
      .footer-links {
        flex-direction: row;
        justify-content: space-between;
        .number {
          display: flex;
          justify-content: flex-end;
          $font-medium;
        }
        .adrress {
          display: flex;
          text-align: left;
          margin-left: 30px;
          $font-medium;
        }
        .view-on-map {
          display: flex;
          justify-content: flex-end;
          $font-medium;
        }
      }
      .footer-links > * {
        padding-top: 20px;
        width: 100%;
      }
    }
  }
  .company-adrress {
    flex-direction: row;
  }
}
