.footer {
  padding-bottom: 50px;
  background: #f2f2f2;

  &-info {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $color-text-secondary;

    .company-adrress {
      display: flex;
      flex-direction: column;
      .footer-links {
        border-top: 2px solid $color-primary;
        padding-bottom: 20px;
      }
    }
  }

  .social-links-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop-size {
      flex-direction: row;
    }
    .links {
      display: flex;
      justify-content: space-evenly;
      height: 100%;
      width: 100%;
      @include desktop-size {
        justify-content: flex-start;
        a {
          margin-right: 50px;
        }
      }
      * {
        color: $color-text-secondary;
        font-size: 24px;
        &:hover {
          color: $color-primary;
        }
      }
    }

    .logo {
      width: 169px;
      height: 66px;
      background-image: url('../images/output-onlinepngtools\ \(7\).png');
      background-size: cover;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;

    .call-number {
      span {
        font-family: 'Acme', 'sans-serif';
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 2px;
        color: $color-text-secondary;
      }
      a {
        display: flex;
        font-family: 'Aclonica', 'sans-serif';
        font-size: 16px;
        line-height: 24px;
        color: $color-text-secondary;
      }
    }
  }
  a {
    margin: 12px 0;
    text-decoration: none;
    font-family: 'Acme', 'sans-serif';
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: $color-text-secondary;
    text-transform: uppercase;

    &:hover {
      color: $color-primary;
    }
  }

  &-info-title {
    font-family: 'Aclonica', 'sans-serif';
    font-size: 16px;
    line-height: 36px;
    color: $color-text-secondary;
  }
  .number {
    font-family: 'Aclonica', 'sans-serif';
    font-size: 16px;
    line-height: 24px;
    color: $color-text-secondary;
  }
  .adrress {
    font-family: 'Aclonica', 'sans-serif';
    font-size: 12px;
    line-height: 24px;
    color: $color-text-secondary;
    font-style: normal;
  }
  .view-on-map {
    font-family: 'Aclonica', 'sans-serif';
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: underline;
    color: $color-primary;
    &:hover {
      color: $color-text-secondary;
    }
  }
}

@include desktop-size {
  .footer-info {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
    .footer-links {
      height: 100%;
    }
    .company-adrress {
      width: 100%;
      margin-left: 70px;
      .footer-links {
        flex-direction: row;
        justify-content: space-between;
        height: 123px;
        .number {
          display: flex;
          justify-content: flex-end;
          font-size: 16px;
        }
        .adrress {
          display: flex;
          text-align: left;
          margin-left: 30px;
          font-size: 16px;
        }
        .view-on-map {
          display: flex;
          justify-content: flex-end;
          font-size: 16px;
        }
      }
      .footer-links > * {
        padding-top: 20px;
        width: 100%;
      }
    }
  }
  .company-adrress {
    flex-direction: row;
  }
}
