header {
  @include gradient-background;
}

.nav {
  transition: 0.6s ease;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  top: 0;
  left: 0;

  &-logo {
    font-weight: 600;
    font-size: 22px;
    display: flex;
  }

  &-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    position: absolute;
    top: 63px;
    left: -100%;
    transition: 0.6s all ease;
    background-color: $color-white;
    z-index: 9999;

    li {
      display: flex;
      align-items: center;
      list-style: none;

      a {
        text-transform: uppercase;
        display: flex;
        position: relative;
        z-index: 9999;
        width: 100%;
        font-family: 'Acme', sans-serif;
        text-decoration: none;
        color: $color-primary;
        font-size: 12px;
        letter-spacing: 2px;
        justify-content: center;

        &:hover {
          color: $color-text-secondary;
        }
        &:hover::after,
        &:focus::after {
          content: '';
          display: flex;
          height: 2px;
          width: 40px;
          background-color: $color-text-secondary;
          position: absolute;
          bottom: -7px;
          border-radius: 3px;
          transition: 0.6s background-color ease;
        }
      }
    }
  }
}
.title {
  color: white;
  font-family: 'Actor', sans-serif;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  text-transform: uppercase;
  @include desktop-size {
    padding: 100px 0;
  }

  &-content {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 142px;
    font-size: 40px;
    margin: 30px 0;
    @include desktop-size {
      padding: 0 120px;
      font-size: 110px;
      line-height: 130px;
      margin: 0;
    }
  }

  .sub-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;
    @include desktop-size {
      flex-direction: row;
      margin-top: 120px;
    }

    &-description {
      font-family: 'Aclonica', sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: $color-white;
      text-align: left;
      display: flex;
      text-transform: none;
      max-width: 670px;
      &::before {
        content: '';
        position: relative;
        left: 0;
        top: 0;
        background-color: $color-white;
        width: 4px;
        height: 105px;
        margin-right: 30px;
      }

      @include desktop-size {
        font-size: 20px;
        line-height: 26px;
      }
    }

    .primary-btn {
      min-width: 200px;
      min-height: 40px;
      margin: 48px 0;
      @include primary-button($color-primary, transparent, white);
    }
  }
}

.visible-list {
  left: 0;
  transition: 0.6s all ease;
  height: calc(100vh - 62px);
}

.logo-content {
  color: white;
  font-family: 'Actor', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop-size {
    flex-direction: row;
  }

  button {
    font-family: 'Acme', 'san-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-primary;
    border-radius: 20px;
    text-decoration: none;
    color: $color-primary;
    padding: 8px 0;
    width: 90px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 100;
    @include desktop-size {
      color: white;
      border-color: white;
    }

    &:hover {
      color: $color-text-secondary;
      border-color: $color-text-secondary;
    }

    &:first-child {
      width: 180px;
      margin-bottom: 16px;
      text-transform: uppercase;
      @include desktop-size {
        margin: 0 20px 0 0;
      }
    }
  }
}

.nav-menu-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24px;
  height: 18px;
  transform: rotate(0deg);

  &::before{
    content: '';
    position: absolute;
    top: 0;
    height: 2px;
    background-color: $color-white;
    width: 100%;
    transform: rotate(0deg);
  }

  &::after{
    content: '';
    position: absolute;
    top: 18px;
    height: 2px;
    background-color: $color-white;
    width: 100%;
    transform: rotate(0deg);
  }

  div {
    height: 2px;
    background-color: $color-white;
    width: 100%;
    transform: rotate(0deg);
    transition: 0.6s all ease;
    position: relative;

    
  }

  &:hover {
    cursor: pointer;
  }
}

.nav.fixed-block {
  position: fixed;
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  z-index: 99999;
  background-color: $color-white;
  box-shadow: 0 12px 24px #e5e5e5;
  transition: 0.6s all;
  display: flex;
  justify-content: space-between;
  * {
    color: $color-text-secondary;
  }

  *:not(.nav-logo):hover {
    color: $color-primary;
  }
  .nav-controls > * {
    border: 2px solid $color-text-secondary;
    border-radius: 20px;
  }
  .nav-controls > *:hover {
    border: 2px solid $color-primary;
  }
}
.nav.fixed-block > .nav-menu-active > * {
  background-color: $color-text-secondary;
}

.nav-menu-active.open {
  div {
    position: relative;
    top: 8px;
    transition: 0.6s transform ease;
    opacity: 0;

    
  }

  &::before{
    opacity: 1;
    transition: 0.6s transform ease;
    transform: rotate(45deg);
    top: 6px;
  }
  &::after{
    opacity: 1;
    transition: 0.6s transform ease;
    transform: rotate(-45deg);
    top: 6px;
  }
}

@include desktop-size {
  .nav {
    padding-top: 30px;
  }
  .nav-menu-active {
    display: none;
  }
  .nav.fixed-block {
    .nav-list {
      width: 90%;
      transition: 0.6s all ease;
    }
  }
  .nav-list {
    position: static;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.6s all ease;
    li {
      a {
        color: white;

        &:hover {
          color: white;
          &::after {
            background-color: $color-white;
          }
        }
      }
    }
  }
}
