@mixin section-title {
    font-family: 'Aclonica', sans-serif;
    font-size: 42px;
    line-height: 1.2;
    color: #191919;
    text-align: center;
}
@mixin section-sub-text {
    font-family: 'Aclonica', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #191919;
}
@mixin primary-button($color, $borderColor, $background) {
    box-shadow: 0px 6px 12px rgba(127, 127, 127, 0.3);
    border-radius: 20px;
    border: 1px solid $borderColor;
    color: $color;
    background-color: $background;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    font-family: 'Acme', sans-serif;
    transition: .6s box-shadow ease;
    width: 200px;
    height: 40px;
    &:hover{
        box-shadow: 0px 12px 18px rgba(127, 127, 127, 0.5);
        transition: .6s box-shadow ease;
    }
}

