@mixin section-title {
  font-family: 'Aclonica', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $color-text-primary;
  @include desktop-size {
    font-size: 42px;
    line-height: 54px;
  }
}
@mixin section-sub-text {
  font-family: 'Aclonica', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: $color-text-primary;
  @include desktop-size {
    font-size: 16px;
    line-height: 24px;
  }
}
@mixin tip-img($imgUrl) {
  content: url($imgUrl);
  margin-left: 30px;
}
@mixin primary-button($color, $borderColor, $background) {
  box-shadow: 0px 6px 12px rgba(127, 127, 127, 0.3);
  border-radius: 20px;
  border: 1px solid $borderColor;
  width: 200px;
  height: 40px;
  color: $color;
  background-color: $background;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  font-family: 'Acme', sans-serif;
  transition: 0.6s box-shadow ease;
  &:hover {
    box-shadow: 0px 12px 18px rgba(127, 127, 127, 0.5);
    transition: 0.6s box-shadow ease;
  }
}
@mixin pseudo-img($imgUrl) {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 150px;
    margin: 30px;
    background-image: url($imgUrl);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @include desktop-size {
      height: 262px;
      max-width: 350px;
    }
  }
}
@mixin gradient-background {
  background: linear-gradient(
    101deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 224, 255, 1) 0%,
    rgba(34, 191, 86, 1) 100%
  );
}
@mixin info-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  background-image: url('../images/i-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
@mixin info-icon-content($content) {
  &::after {
    content: $content;
    position: absolute;
    top: -30px;
    right: 0;
    z-index: 999;
    max-width: 250px;
    border: 1px solid $color-text-secondary;
    border-radius: 5px;
    padding: 4px 8px;
    background-color: white;
    font-family: 'Aclonica', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: $color-text-secondary;
    transition: 0.6s ease;
    word-wrap: break-word;
  }
}

@mixin desktop-size {
  @media screen and (min-width: $desktop-size) {
    @content;
  }
}
