header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  a {
    @include app-font;
    text-decoration: none;
    color: $color-light;
  }

  .account-actions {
    display: flex;
    div {
      display: flex;
      @include app-font;
      color: $color-light;

      &::after {
        content: '';
        display: block;
        margin: 0 8px;
        width: 1.5px;
        height: 100%;
        background-color: $color-light;
        opacity: 0.1;
      }
    }
  }
}

.page-name {
  padding: 12px;
  background-color: $background-primary;
  color: $color-white;
  @include app-font;
}

.filter-section {
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.2);
  padding: 12px;
  .filter-form {
    justify-content: space-between;
    flex-wrap: wrap;

    fieldset {
      display: flex;
      align-items: center;
      flex-direction: row;
      border: none;
      width: 100%;

      legend {
        @include app-font;
        color: $color-light;
      }

      .filter-inputs {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        @include desktop-size {
          flex-direction: row;
        }
        input {
          margin-bottom: 12px;
          border: 2px solid rgba(214, 214, 214, 0.7);
          width: 100%;
          padding: 10px 8px;
          border-radius: 2px;
          outline: none;
          @include app-font;
          @include desktop-size {
            margin-right: 10px;
            margin-bottom: 0;
            width: auto;
          }
        }
      }
    }

    .add-note {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      outline: none;
      background-color: $background-secondary;

      @include desktop-size {
        position: relative;
        bottom: 0;
      }

      &:hover {
        cursor: pointer;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 40%;
        height: 1.5px;
        background-color: $color-white;
        transform: rotate(0deg);
      }

      &::after {
        transform: rotate(90deg);
      }
    }
  }
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;

  .table-heading {
    justify-content: flex-start;
    margin-bottom: 50px;
    border-bottom: 1px solid $color-neutral;
    width: 100%;
    padding-right: 50px;
    @include app-font;
    .heading-item {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      padding: 12px;
    }
  }
}

.output-data {
  .user-row {
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $color-neutral;

    &:hover {
      background-color: $color-light;
      cursor: pointer;
    }

    .cell {
      display: flex;
      justify-content: flex-start;
      flex: 1;
      width: 100%;
      padding: 14px 8px;
      @include app-font;
      white-space: pre-wrap;
    }
  }
}

.change-page {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button {
    min-width: 50px;
    padding: 10px;
    border: 1px solid $color-light;
    background-color: transparent;
    @include app-font;

    &:hover {
      background-color: $background-primary;
      cursor: pointer;
      color: $color-white;
    }
  }
  button.selected-page {
    background-color: $background-primary;
    color: $color-white;
  }
}

.edit-item-btn {
  position: relative;
  border: none;
  padding: 10px;
  background-color: transparent;
  color: $color-neutral;

  &::after {
    content: '\f304';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
}

.delete-item-btn {
  border: none;
  padding: 10px;
  background-color: transparent;
  color: $color-neutral;

  &::after {
    content: '\f2ed';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
}
.delete-item-btn:hover {
  cursor: pointer;
  color: $background-secondary;
}
.edit-item-btn:hover {
  cursor: pointer;
  color: $background-primary;
}
