label *,
label *::before,
label *::after {
  box-sizing: content-box !important;
}

label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

label span {
  line-height: 1.54;
  font-size: 1rem;
  font-family: inherit;
}

label {
  display: table;
  position: relative;
  padding-left: 1.8rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

label input[type='checkbox'] ~ div {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: rgba(241, 245, 248, 1);
  transition: background 250ms;
  border: 1px solid rgba(184, 194, 204, 1);
  border-radius: 0.125rem;
}

label input[type='checkbox'] ~ div::after {
  content: '';
  position: absolute;
  display: none;
  left: 0.45rem;
  top: 0.18rem;
  width: 0.25rem;
  height: 0.6rem;
  border: solid rgba(255, 255, 255, 1);
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

label input:disabled ~ div::after {
  border-color: rgba(135, 149, 161, 1);
}

label input:checked ~ div::after {
  display: block;
}

label:hover input ~ div,
label input:focus ~ div {
  background: rgb(231, 238, 243);
}

label input:focus ~ div {
  box-shadow: 0 0 0 2px $background-secondary;
}

label input:checked ~ div {
  background: $background-secondary;
  border-color: $background-secondary;
}

label input[type='checkbox']:disabled ~ div {
  background: rgba(241, 245, 248, 1);
  border-color: rgba(184, 194, 204, 1);
  opacity: 0.6;
  cursor: not-allowed;
}

label input:checked:focus ~ .div,
label:hover input:not([disabled]):checked ~ div {
  background: $background-secondary;
  border-color: $background-secondary;
}

label div::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  margin-left: -0.85rem;
  margin-top: -0.85rem;
  background: $background-secondary;
  border-radius: 2rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

@keyframes b-ripple {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes b-ripple-duplicate {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

label input + div::before {
  animation: b-ripple 250ms ease-out;
}

label input:checked + div::before {
  animation-name: b-ripple-duplicate;
}

label div::before {
  visibility: hidden;
}

label input:focus + div::before {
  visibility: visible;
}

label:first-child div::before {
  visibility: hidden;
}
