.is-flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.is-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-hidden {
  display: none;
}
